@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

body{
  margin: 0; 
  padding: 0;
  background-color: white;
  min-height: 100vh;
}
/*Navbar*/
.nav-menu{  
  margin: 0;
  padding: 2rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  background-color: rgb(68, 67, 67);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  text-align: center;
}
li{
  list-style: none
}
li>a{
  padding: 10px;
  text-decoration: none;
  color:rgb(240, 243, 200)
}
li>a:hover {
	color: rgb(84, 96, 97);
  background-color: #a0aa67;
  box-shadow: 0 5px 10px rgba(173, 185, 102, 0.527);
}
.burger-icon{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: rgb(240, 243, 200);
}

#header-desktop{
  width: 100%;
  margin: 0;
}
#header-mobile{
  width: 100%;
  margin: 0;
}

/*Home Page*/
#phrase{
  max-width: 1000px;
  margin: auto;
  font-size: xx-large;
  color: rgb(68, 67, 67);
  font-family: 'Bad Script', cursive;
 
}
.main-wraper{
  float: inline-start;
  max-width: 100%;
  columns: 2;
  margin: 5%;
  overflow: hidden;
}
/*Accommodation page*/
.tent1{
  float: left;
  max-width: 100%;
  columns: 2;
  margin: 0;
  margin-right: 5%;
  overflow: hidden;
}
.tent2{
  margin: 0;
  margin-right: 0;
  float: left;
  max-width: 100%;
  columns: 2;
  overflow: hidden;
  background-color: rgb(207, 201, 116);
}
.tent3{
  float: left;
  max-width: 100%;
  columns: 2;
  margin: 0;
  margin-right: 5%;
  overflow: hidden;
}
.tent-pics{
  max-width: 600px;
  max-height: 600px;
  overflow: hidden;
}
.tent-gallery{
  max-width: 300px;
  max-height: 200px;
  float: left;
  columns: 4; 
}
.fa-solid{
  font-size: 30px; 
  color: #292929;
  
}
.description{
  float: left;
  columns: 4;
}
.button-link{
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 15px;
  color: white; 
  background: rgb(194, 84, 10);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-link:hover {
  background-color: #db632b;
  box-shadow: 0 5px 10px rgba(216, 117, 3, 0.568);
  transform: translateY(-7px);
}

/*Contact page*/
#contact-header{
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr;
  overflow: hidden;
}

.contact-wraper{
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 2fr;
  overflow: hidden;
}


/*Contact Form*/
form {
   max-width: 600px;
   text-align: center;
   margin: 20px auto;
   display: grid;
   grid-template-columns: auto;
   grid-gap: 10px;
   
}
input textarea {
  width: 400px;
  border:0; 
  outline:0;
  padding: 1em;
  border-radius:(15px);
  display: block;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  resize: none;
}
.input-submit {
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 15px;
  color: white; 
  background: rgb(73, 73, 73);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-submit:hover {
  background-color: #a0aa67;
  box-shadow: 0 5px 10px rgba(173, 185, 102, 0.527);
  transform: translateY(-7px);
}
  
textarea {
  height: 126px;
}
.contact-form {
  float: center;
  margin-bottom: 1em;
}
/*404 and Thank you*/
.container{
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  text-align: center;

}
/*Footer */
.footerstyle{
  
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: auto;
  padding: 2em;
  background-color: rgb(68, 67, 67);
}
footer p{
  margin-top: auto;
  color: aliceblue;
}
.social>a{
  font-size: 50px;
  color: rgb(240, 243, 200);
  justify-items: center;
  padding: 10px;
  cursor: pointer;
}
.social>a :hover{
  color: rgb(84, 96, 97);
  background-color: #a0aa67;
  box-shadow: 0 5px 10px rgba(173, 185, 102, 0.527);
}

/*Mobile/Tablet Media Query*/
@media screen and (min-width: 780px) {

  #checkbox{
    display:none;
  } 
  #header-mobile{
    display: none;
  }
}
@media screen and (max-width: 780px) {

  #menu-wrapper{
    background-color: rgb(68, 67, 67);
    padding: 10px;
  }
  #menuToggle{
    display: block;
    position: relative;
    top: 5px;
    margin: 0;
    z-index: 1;    
    -webkit-user-select: none;
    user-select: none;
  }  
  #menuToggle a{
    text-decoration: none;
    color: rgb(240, 243, 200);    
    transition: color 0.3s ease;
  }  
  #menuToggle a:hover  {
  color: rgb(84, 96, 97);
  background-color: #a0aa67;
  box-shadow: 0 5px 10px rgba(173, 185, 102, 0.527);
  } 
  #menuToggle input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;    
    cursor: pointer;    
    opacity: 0;
    z-index: 2;     
    -webkit-touch-callout: none;
   
  }
  #menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;    
    background: rgb(240, 243, 200);
    border-radius: 3px;
    z-index: 1;    
    transform-origin: 4px 0;    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }  
  #menuToggle span:first-child{
    transform-origin: 0 0;
  }  
  #menuToggle span:nth-last-child(2){
    transform-origin: 0 100%;
  }
  #menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: rgb(240, 243, 200);
  }
  #menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
  }
  .nav-menu{
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    margin: -100px 0 0 -50px;
    padding: 60px;
    padding-top: 200px;
    padding-bottom: 150px;
    background-color: rgb(68, 67, 67);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;   
    transform-origin: 0 0;
    transform: translate(-100%, 0);    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    display: table-row;
  }  
  .nav-menu li{
    padding: 10px 0;
    font-size: 22px;
    align-items: center;
  }
  #menuToggle input:checked ~ ul{
    transform: none;
  }
  #header-desktop{
    display: none;
  }
/*Home Page*/
#phrase{
    font-size: xx-large;
    padding: 10%;
  }
  .main-wraper{
    float: inline-start;
    max-width: 100%;
    columns: 1;
    margin: 5%;
    overflow: hidden;
  }
}

@media screen  and (max-width: 1200px) {

  #phrase{
    max-width: 500px;
}
/*Accommodation page*/
.tent1{
  float: inline-start;
  max-width: 100%;
  columns: 1;
  margin: 5%;
  overflow: hidden;
}
.tent2{
  float: inline-start;
  max-width: 100%;
  columns: 1;
  margin: 0;
  overflow: hidden;
}
.tent3{
  float: inline-start;
  max-width: 100%;
  columns: 1;
  margin: 5%;
  overflow: hidden;
}
/*Contact Page*/
.contact-wraper{
  max-width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}
.input-submit {
  max-width: 280px;
  height: 40px;
  border: none;
  border-radius: 15px;
  color: white; 
  background: rgb(73, 73, 73);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
}